
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Photoflask</title>
  </head>
  <body>
    {% for image in images %}
        <div class="image">
          <img src="{{ url_for('main.serve_image', img=image) }}"/>
        </div>
    {% endfor %}
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
