<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.9/dist/css/uikit.min.css" />
   <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.9/dist/js/uikit.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.9/dist/js/uikit-icons.min.js"></script>
   <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

{% block content %}

<div class="uk-margin-medium-top">
<div uk-grid>
    <div class="uk-width-1-6">
    </div>
    <div class="uk-text-center uk-width-expand uk-heading-small">

    <p>Daily Photo 2021

      {% if not current_user.is_anonymous %}
       <small>
         <a href="{{ url_for('logout') }}">Logout</a>
       </small>
      {% endif %}
    </p>

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}


    </div>



    <div class="uk-width-1-6">
    </div>


    {% block app_content %}{% endblock %}

</div>
</div>

{% endblock %}
</html>
