{% extends "base.html" %}
{% block app_content %}
    {% if not current_user.is_anonymous %}
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.files }}
            <input type="submit" value="Upload">
        </form>
    {% endif %}

<div class="container">

  <div class="row">
    <div class="col">
    </div>
    <div class="col-xl-8 col-md-8 col-sm-10 col-">
  
      {% for image in images %}
        <div class="_card mb-3">
          <div class="_card-body text-center">
            <img src="{{ url_for('serve_image', img=image[0]) }}" class="img-fluid">
           {{ image[1] }}
          </div>
          <div class="_card-footer _text-center">
          </div>
      </div>
      {% endfor %}

      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}

    </div>

    <div class="col">
    </div>
  </div>
</div>

{% endblock %}
